<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499934865387-kt4js6r68u23pqh38i6k07qmbngojckt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499934865387-kt4js6r68u23pqh38i6k07qmbngojckt</string>
	<key>API_KEY</key>
	<string>AIzaSyBuYiOa5JuN_5V2jLidYyhFFftZCo3CJ1c</string>
	<key>GCM_SENDER_ID</key>
	<string>499934865387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Batchelorkimball.BKI</string>
	<key>PROJECT_ID</key>
	<string>batchelorkimball-d2995</string>
	<key>STORAGE_BUCKET</key>
	<string>batchelorkimball-d2995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499934865387:ios:a55e5399dd7af8ea835bae</string>
	<key>DATABASE_URL</key>
	<string>https://batchelorkimball-d2995.firebaseio.com</string>
</dict>
</plist>